<div class="container animate__animated animate__fadeIn">
  <div class="card mt-4">
    <div class="card-body">
      <div class="container">
        <h2 class="text-center m-5">Predicción de la calidad de agua para el consumo humano</h2>
      </div>
      <div class="container">
          <form [formGroup]="formData">
              <div class="row">
                  <!-- ph -->
                  <div class="col">
                  <div class="col-auto">
                      <label class="col-form-label">Ph</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" 
                              class="form-control" 
                              formControlName="Ph"
                              [ngClass]="{'is-invalid': ph }">
                    </div>
                  </div>
                  <!-- dureza -->
                  <div class="col">
                      <div class="col-auto">
                          <label class="col-form-label">Dureza</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="Dureza"
                                  [ngClass]="{'is-invalid': dureza }">
                        </div>
                  </div>
                  <!-- STD  -->
                  <div class="col">
                      <div class="col-auto">
                          <label for="inputtext6" class="col-form-label">Sólidos Totales Disueltos (TDS)</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="Solidos_TDS"
                                  [ngClass]="{'is-invalid': solidos_TDS }">
                        </div>
                  </div>
              </div>
              <div class="row">
                  <!-- Monocloramina -->
                  <div class="col">
                      <div class="col-auto">
                          <label class="col-form-label">Monocloramina</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="Monocloramina"
                                  [ngClass]="{'is-invalid': monocloramina }">
                        </div>
                  </div>
                  <!-- sulfato -->
                  <div class="col">
                      <div class="col-auto">
                          <label class="col-form-label">Sulfato</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="Sulfato"
                                  [ngClass]="{'is-invalid': sulfato }">
                        </div>
                  </div>
                  <!-- conductividad -->
                  <div class="col">
                      <div class="col-auto">
                          <label class="col-form-label">Conductividad</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="Conductividad"
                                  [ngClass]="{'is-invalid': conductividad }">
                        </div>
                  </div>
              </div>
              <div class="row">
                  <!-- carbon_Organico -->
                  <div class="col">
                      <div class="col-auto">
                          <label class="col-form-label">Carbon Orgánico</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="Carbon_Organico"
                                  [ngClass]="{'is-invalid': carbon_Organico }">
                        </div>
                  </div>
                  <!-- trihalometanos -->
                  <div class="col">
                      <div class="col-auto">
                          <label class="col-form-label">Trihalometanos</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="Trihalometanos"
                                  [ngClass]="{'is-invalid': trihalometanos }">
                        </div>
                  </div>
                  <!-- turbiedad -->
                  <div class="col">
                      <div class="col-auto">
                          <label class="col-form-label">Turbiedad</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="Turbiedad"
                                  [ngClass]="{'is-invalid': turbiedad }">
                        </div>
                  </div>
              </div>
              <div class="row">
                <div class="col mt-2">
                  <div class="col-auto">
                    <label class="col-form-label">Algoritmos</label>
                  </div>
                  <select class="form-select" 
                          formControlName="tipo_algoritmo"
                          (ngModelChange)="hiddenResult($event)"
                          [ngClass]="{'is-invalid': tipo }">
                    <option value="RL">Regresión Logística</option>
                    <option value="KNN">K-vecinos mas cercanos</option>
                    <option value="RM">Bosques aleatorios</option>
                    <option value="AB">Ada Boost</option>
                  </select>
                </div>
              </div>
              <div class="mt-3">
                <button class="btn btn-primary btn-lg btn-sm" 
                        (click)="sendPredict()"
                        [disabled]="_api.load">
                  <span *ngIf="_api.load" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Resultado
                </button>
                <button class="btn btn-danger btn-lg btn-sm m-1" (click)="clear()">Limpiar campos</button>
              </div>
          </form>
      </div>
      <div class="container">
        <div class="row">
          <div class="col mt-3" *ngIf="this._api.change">
            <div *ngIf="_api.resultado==1" class="alert alert-info animate__animated animate__fadeIn" role="alert">
              El algoritmo <b>{{algoritmo(formData.value.tipo_algoritmo)}}</b> clasificó como agua <b>potable</b> 😊
            </div>
            <div *ngIf="_api.resultado==0" class="alert alert-danger animate__animated animate__fadeIn" role="alert">
              El algoritmo <b>{{algoritmo(formData.value.tipo_algoritmo)}}</b> clasificó como agua <b>No potable</b>  🥺
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
